<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t('users.filled_list', default: "The follwing %{users} had fill up some %{competences} with this %{model}.", users: t('users.users', default: 'users'), competences: t('competences.competences', default: "competences"), model: filled_model)%></th>
    </tr>
  </thead>
  
  <tbody>
    <% users.each do |user| %>
      <tr>
        <td><%= link_to user.name,
                      user_path(user) %></td>
      </tr>
    <% end %>
  </tbody>
</table>  