<%- model_class = Group -%>
<div class="page-header">
  <h1><%=t('helper.titles.new', default: 'New %{model}', model: t('groups.group', default: "group")).titleize %></h1>
</div>
<%= render partial: 'form' %>
