<%- model_class = User -%>
<div class="page-header">
  <h1><%= t('users.new_user', default: 'New user') %></h1>
</div>

<%= form_for @user, url: { controller: 'users', action: 'create' }, html: { class: "form-horizontal group" } do |f| %>
  <%= render partial: 'form', locals: { f: f } %>
<% end %>