<h1><%= t('welcome.title', default: "Welcome to") %> SYSCOMA</h1>
<h5><%= t('welcome.subtitle', default: "A System for Competence Management") %></h5>

<p>
  <% if user_signed_in? %>
    <%= t('welcome.welcome', default: "Welcome") %> <%= current_user.name %>
  <% end %>
</p>
