<%= f.hidden_field :ability_id %>
<td>
  <div class="controls"><%= f.text_field :value, :class => 'form-control' %></div>
</td>
<td>
  <div class="controls"><%= f.text_field :rank, :class => 'form-control' %></div>
</td>